body{
			background-color: #F8ECC6;
		}
		body::-webkit-scrollbar { /* WebKit */
    		width: 0;
    		height: 0;
		}
		.flex-container{
			display: flex;
			flex-direction: column;
		}
		.first-row{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 1.5em;
			margin-left: 2em;
			margin-bottom: 1em;
			/*flex: 1 1 33.4%;*/
		}
		
		.sec-head{
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-left: 2em;
			margin-top: 1em;
			
		}
		.icons{
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-right: 3em;
			margin-top: 2.2em;
			margin-left: 2em;
			
		}
		/*@media screen and (max-width: 992px) {
  			.icons, .sec-head, .first-head {
    			flex: 1;
  			}
  			.icons{
  				justify-content: space-evenly;
  			*/}	
		}

		/*@media screen and (max-width: 600px) {
  			.first-row {
    			flex-direction: column;
  			}
		}*/
		.two-col{
			margin-left: 2em;
			font-size: 1.5vw;
		}
		.fa{
			font-size: 1.3vw;
  			width: 100%;
		}
		.fa-instagram{
			color: black;
		}
		.right-mrg
		{
			margin-right: 1.5em;
		}
		.second-row
		{
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			margin-top: .5em;
			margin-left: 2em;
		}
		.col1{
			display: flex;
			flex-direction: column;
			margin-top: 5em;
			margin-left: 2.5em;
		}
		.black-box{
			display: flex;
			background-color: rgb(32,32,32);
			width: 15vw;
			height: 4vw;
			margin-top: 2em;
			justify-content: center;
   			align-items: center;
		}
		#white-col{
			color: white;
			font-size: 1.5vw;
		}
		#yellow-col{
			color: #ffb100;
			width: 100%;
			font-size: 2.6vw;
		}
		#imgbor{
			border-radius: 7%;
		}
		#imgid{
			
			width: 40%;
			margin-top: 1em;
			margin-right: 6em;
			margin-left: 2em;
			
		}
		@media only screen and (max-width: 350px) {
  			.first-row,.second-row{
    			flex-direction: column;
    			justify-content: flex-start;
  				}
  				#imgid{
  					margin-bottom: 1em;
  				}
			}

		
		.col2{
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		.size-cl{
			font-size: 1vw;
		}
		.cart{
			margin-right: 2.5em;
		}
		.longtext{
			font-size: 1.2vw;
			width: 100%;
		}
		.yl{
			color: #ffb100;
		}
