body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff8ff;
    overflow-x: hidden;
}

.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    min-width: 250px;
    height: 80vh;
    border-radius: 5vh 5vh 20vh 5vh;
    background-color: white;
    margin:2vw;
}

.first{
    display: flex;
    margin:5vh;
}

.labelboxes{
    display: flex;
    flex-direction: column;
    gap:7px;
}

.textbox{
    width: 40%;
    height: 7vh;
    font-size: 22px;
    text-align: center;
    border-radius: 13px;
    border-color: #00000030;
}

.second{
    margin:5vh;
}
.third{
    margin:5vh;
}

.dotted-line {
  width: 86%; 
  height: 0.3vh;
  background-color: #00000030;
  margin-left: 1vh;
}


.boldage {
    font-size: 7vh;
    font-weight: 700;
}

.purple_btn {
    position: relative;
    cursor: pointer;
    transform: translateX(-50%);
}

.purple{
    color: purple;
}

label{
    color: #000000a8;
}

.red{
    color: red;
}

#date_error, #month_error, #year_error{
    display: None;
}
.arrow_img{
   height: 7vh;
    top: -25px;
    left: 90%;
    position: relative;
}

@media screen and (max-width: 550px) {
  .dotted-line {
  width: 100%; 
  }
}

@media screen and (max-width: 400px) {
  .boldage {
    font-size: 5.4vh;
}
}

@media screen and (max-width: 750px){
  .main {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
}
